@model Restaurantly.Models.BookTable
<section id="book-a-table" class="book-a-table section">
    <div class="container section-title" data-aos="fade-up">
        <h2>RESERVATION</h2>
        <p>Book a Table</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form asp-action="Index" asp-controller="BookTable" method="post" role="form" class="php-email-form">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <input type="text" asp-for="FullName" class="form-control" placeholder="Your Name" required />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Your Email" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="text" asp-for="Phone" class="form-control" placeholder="Your Phone" required />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="date" asp-for="ReservationDate" class="form-control" required />
                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="time" asp-for="ReservationTime" class="form-control" required />
                    <span asp-validation-for="ReservationTime" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <input type="number" asp-for="NumberOfGuests" class="form-control" placeholder="# of people"
                        required />
                    <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-3">
                <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="text-center mt-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to
                    confirm your reservation. Thank you!</div>
                <button type="submit">Book a Table</button>
            </div>
        </form>
    </div>
</section>